# The Titanic - was it a case of women and children first?
<br>
<br>
**Titanic passenger list EDA**

**sections**
<br>
1. Findings
2. set up environment and import data
3. EDA

**Section 1 - findings**

Was it a case of women and children first? Yes - kind of. 
<p>
Over 90% of first and second class female passengers survived. But only 50% of third class female passengers survived. Overall only 35% of the passengers were female but 68% of survivors were female. So being a woman in first or second class improved your survivability. In the case of children (16 years old or younger) less than 13% of the passengers were children. Just over half the children survived. As in the case of adult women Pclass was an important factor in child survivability, less than half the children in third class survived while about 90% of the children in 1st and 2nd class survived.
<p>
The majority of passengers, around 55%,  were 3rd class. But when we look at survivors only 35% were 3rd class. So to sum up, yes women and children were given priority when assigning people to life boats but it seems third class passengers were less likely to survive.

**Section 2 - import data and set up environment**

In [2]:
import pandas as pd

The dataset comes from [stanford.edu](http://web.stanford.edu/class/archive/cs/cs109/cs109.1166/problem12.html)

In [3]:
df = pd.read_csv('titanic.csv')

In [34]:
df.head() # look at the structure of the dataset

,Survived,Pclass,Name,Sex,Age,Siblings/Spouses Aboard,Parents/Children Aboard,Fare,title
0,0,3,Mr. Owen Harris Braund,male,22.0,1,0,7.2500,Mr
1,1,1,Mrs. John Bradley (Florence Briggs Thayer) Cum...,female,38.0,1,0,71.2833,Mrs
2,1,3,Miss. Laina Heikkinen,female,26.0,0,0,7.9250,Miss
3,1,1,Mrs. Jacques Heath (Lily May Peel) Futrelle,female,35.0,1,0,53.1000,Mrs
4,0,3,Mr. William Henry Allen,male,35.0,0,0,8.0500,Mr

In [35]:
def missing_values_table(df):
        mis_val = df.isnull().sum()
        mis_val_percent = 100 * df.isnull().sum() / len(df)
        mis_val_table = pd.concat([mis_val, mis_val_percent], axis=1)
        mis_val_table_ren_columns = mis_val_table.rename(
        columns = {0 : 'Missing Values', 1 : '% of Total Values'})
        mis_val_table_ren_columns = mis_val_table_ren_columns[
            mis_val_table_ren_columns.iloc[:,1] != 0].sort_values(
        '% of Total Values', ascending=False).round(1)
        print ("Your selected dataframe has " + str(df.shape[1]) + " columns.\n"      
            "There are " + str(mis_val_table_ren_columns.shape[0]) +
              " columns that have missing values.")
        return mis_val_table_ren_columns

In [36]:
missing_values_table(df)

Your selected dataframe has 9 columns.
There are 0 columns that have missing values.

Empty DataFrame
Columns: [Missing Values, % of Total Values]
Index: []

The dataset does not contain any nulls.

In [37]:
df['title'] = df['Name'].str.split('.').str[0] # add a new field called title, contains Mr, Mrs ....

**Was it a case of women and children first?**

In [38]:
df['Sex'].value_counts(normalize=True)

male      0.645998
female    0.354002
Name: Sex, dtype: float64

approximately 2 out of every 3 passengers was male

In [39]:
df_s = df[df['Survived']==1] #create a dataset for passenengers who survivved

In [40]:
# get some descriptive stats on this dataset

df_s.describe()

,Survived,Pclass,Age,Siblings/Spouses Aboard,Parents/Children Aboard,Fare
count,342.0,342.000000,342.000000,342.000000,342.000000,342.000000
mean,1.0,1.950292,28.408392,0.473684,0.464912,48.395408
std,0.0,0.863321,14.427863,0.708688,0.771712,66.596998
min,1.0,1.000000,0.420000,0.000000,0.000000,0.000000
25%,1.0,1.000000,19.000000,0.000000,0.000000,12.475000
50%,1.0,2.000000,28.000000,0.000000,0.000000,26.000000
75%,1.0,3.000000,36.750000,1.000000,1.000000,57.000000
max,1.0,3.000000,80.000000,4.000000,5.000000,512.329200

In [10]:
df_s['Sex'].value_counts(normalize=True)

female    0.681287
male      0.318713
Name: Sex, dtype: float64

So only 35% of the passengers were female but 68% of survivors were female

investigate survivors by Pclass

In [11]:
df['Pclass'].value_counts(normalize=True)

3    0.549042
1    0.243517
2    0.207441
Name: Pclass, dtype: float64

so the majority, around 55% of passengers were 3rd class.

In [12]:
df_s['Pclass'].value_counts(normalize=True)

1    0.397661
3    0.347953
2    0.254386
Name: Pclass, dtype: float64

But when we look at survivors only 35% were 3rd class, while almost 40% were first class

In [15]:
df['Age'].mean()

29.471443066516347

In [16]:
df['Age'].median()

28.0

how many passengers were under 16 years of age? - for the purpose of this analysis I'm defining a child as being 16 years old or younger.

In [17]:
df_16 = df[df['Age']<=16]

In [18]:
df_16.shape

(114, 9)

In [19]:
df.shape

(887, 9)

In [20]:
114/887

0.12852311161217586

so less than 13% of the passengers were 16 years old or younger

In [21]:
df_16['Survived'].value_counts()

1    59
0    55
Name: Survived, dtype: int64

just over half the children survived

In [22]:
df_16_s = df_16[df_16['Survived']==1]

In [23]:
df_16_s['Sex'].value_counts()

female    35
male      24
Name: Sex, dtype: int64

In [24]:
df_16_s['Pclass'].value_counts()

3    32
2    19
1     8
Name: Pclass, dtype: int64

In [25]:
df_16['Pclass'].value_counts()

3    84
2    21
1     9
Name: Pclass, dtype: int64

Less than half the children in third class survived while about 90% of the children in 1st and 2nd class survived

In [26]:
df_1 = df[df['Pclass']==1]

In [27]:
df_1['Sex'].value_counts()

male      122
female     94
Name: Sex, dtype: int64

In [28]:
df_1_s = df_1[df_1['Survived']==1]

In [29]:
df_1_s['Sex'].value_counts()

female    91
male      45
Name: Sex, dtype: int64

So almost all first class female passengers survived. But less than 40% of male first class passengers survived.

In [41]:
df_2_s = df[(df['Pclass']==2)&(df['Survived']==1)]

In [42]:
df_2_s['Sex'].value_counts()

female    70
male      17
Name: Sex, dtype: int64

In [43]:
df_2 = df[df['Pclass']==2]

In [44]:
df_2['Sex'].value_counts()

male      108
female     76
Name: Sex, dtype: int64

So female passengers made up just 41% of 2nd class passengers but 80% of second class survivors.

In [45]:
df_3_s = df[(df['Pclass']==3)&(df['Survived']==1)]

In [46]:
df_3_s['Sex'].value_counts()

female    72
male      47
Name: Sex, dtype: int64

In [47]:
df_3 = df[df['Pclass']==3]

In [48]:
df_3['Sex'].value_counts()

male      343
female    144
Name: Sex, dtype: int64